**/.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfplan

.DS_Store

# This file is templated
**/cur-ingest-pipeline-policy.json
**/assume-role-trust-policy.json
**/deny-sensitive-data-policy.json
